body, html {
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero button {
    padding: 16px;
    outline: none;
    width: fit-content;
    border: none;
    user-select: none;
    background: black;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    transition: transform 0.2s ease; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.hero button::before {
    content: '';
    position: absolute;
    top: 4px; 
    left: 4px; 
    width: 100%;
    height: 100%;
    border: 2px solid black;
    background: transparent;
    z-index: -1; 
    transition: top 0.3s ease, left 0.3s ease; 
}

.hero div {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.hero button:hover {
    background: rgb(49, 46, 46);
}

.hero button:hover::before {
    border-color: rgb(49, 46, 46);
    top: 2px; 
    left: 2px;
}

.hero button:active {
    z-index: 100;
    transform: translate(2px, 2px); 
}

.hero button:active::before {
    z-index: 0;
    top: 0px; 
    left: 0px;
}
