p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
   
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(240, 240, 240);
}

@media (min-width: 1200px){
  body{
    padding-left: 171px;
  }
}
