.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 75px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}


@media (min-width: 1200px) {
    .sidebar{
        width: 150px;
    }
  }
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

@media (min-width: 1201px){
    .sidebar-link{
        flex-direction: row;
        justify-content: space-evenly;
       
        margin-left: 20px;
        margin-right: 40px;

    }
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;   
    margin-bottom: 4px;
}

.sidebar-link div{
    font-size: 10px;

}