#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height: 100%;
    z-index: -1;

}
#background{
    transform: translateZ(-40px) scale(5);

}
#background{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
h1{
    position: absolute;
    top: 3px;
    letter-spacing: 5px;
    color: rgb(210, 195, 195);
    font-size: 10rem;
    font-weight: 400;
    text-shadow: 0 0 10px rgba(0,0,0.3);

}
.secheading{
    font-size: 5rem;
    padding: 0 10;
}
.text{
    font-size: 1rem;
    padding: 0 10;
    margin: 3rem 0;
}

section{
    background-color: rgb(45, 45 ,45);
    color: white;
    padding: 5rem 0;
}
.bg1{
    background-image: url(pexels-tirachard-kumtanom-347145.jpg);
}
.bg2{
    background-image: url(pexels-ray-bilcliff-1493839.jpg);
}
.bg3{
    background-image: url(pexels-eberhard-grossgasteiger-518485.jpg);
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    height: 350px;
}
h2{
    position: absolute;
   background-color: white;
   color: black;
   padding: 0.5rem 2.5rem;
   top: 37%;
   left: 37%;
   font-size: 1.5rem;
   font-weight: 600;
}