
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Motivational\ Desktop\ Wallpaper\ \(3\).png) no-repeat;
    background-size: cover;
    background-position: center;
}
.Wrapper{
    width: 420px;
    background-color: purple;
    color: #ffff;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffff;
    border-radius: 10px;
    padding: 30px 40px;


}
.Wrapper h1{
    font-size: 36px;
    text-align: center;

}
.Wrapper .input-box{
width: 100%;
height: 50%;
/* background-color: salmon; */
margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #ffff;
}
.input-box i {
    position: absolute;
    right: 47px;
    margin-top: 19px;
    transform: translate(-50%);
    font-size: 20px;
}
.Wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;

}
.remember-forgot a{
    color: #fff;
    text-decoration: none;

}
.remember-forgot a:hover{
    text-decoration: underline;

}
.Wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;

}
.Wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}
.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a :hover{
    text-decoration: underline;
}
@media (max-width: 768px) {
    .Wrapper {
        width: 300px;
        padding: 20px;
    }

    .input-box i {
        right: 30px;
    }

    .input-box input {
        padding: 15px 35px 15px 15px;
    }
}

@media (max-width: 480px) {
    .Wrapper {
        width: 260px;
        padding: 15px;
    }
}
