@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  background: #e1e2dd;
  font-family: 'Raleway', sans-serif;
}

.cursor-auto {
    cursor: auto;
    width: 350px;
    height: 50px;
    font-size: 25px;
    transition: color 2s ease-out 100ms;
}

.cursor-auto:hover{
    color: #7ae615;
}

.cursor-default {
    cursor: default;
    width: 350px;
    height: 50px;
    font-size: 25px;
    transition: color 2s ease-out 100ms;
}

.cursor-default:hover{
    color: #7ae615;
}

.cursor-crosshair {
    cursor: crosshair;
    width: 350px;
    height: 50px;
    font-size: 25px;
    transition: color 2s ease-out 100ms;
}

.cursor-crosshair:hover{
    color: #7ae615;
}

.cursor-wait {
    cursor: wait;
    width: 350px;
    height: 50px;
    font-size: 25px;
    transition: color 2s ease-out 100ms;
}

.cursor-wait:hover{
    color: #7ae615;
}

.cursor-text {
    cursor: text;
    width: 350px;
    height: 50px;
    font-size: 25px;
    transition: color 2s ease-out 100ms;
}

.cursor-text:hover{
    color: #7ae615;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}