@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  background: #2D3142;
  font-family: 'Raleway', sans-serif;
}

.cursor-auto {
    cursor: auto;
}

.cursor-default {
    cursor: default;
}

.cursor-crosshair {
    cursor: crosshair;
}

.cursor-wait {
    cursor: wait;
}

.cursor-text {
    cursor: text;
}