@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Jaro:opsz@6..72&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-style: normal;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/Red_Buttes_Wilderness_Mountains.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    background-image: linear-gradient(#1664bc31, #ffffff4e);
    backdrop-filter: blur(2px);
    border: 2px solid rgba(34, 99, 137, 0.191);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height .6s ease;
}

.search-box {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-box  {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search-box input {
    position: absolute;
    width: 95%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.372);
    outline: none;
    border-radius: 10px ;
    font-family: "Silkscreen", sans-serif;
    font-size: 21px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 50px 0 40px;
}

.search-box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search-box button {
    position: absolute ;
    right: 20px;
    width: 40px;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.weather-box{
    text-align: center;
    margin: 40px 0;

}

.weather-box,
.weather-details,
.not-found {
    overflow: hidden;
    visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box {
    transform: translateY(-70%);
}

.weather-box.active .box,
.not-found.active .box {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 0.6s;
}

.weather-box .box .info-weather{
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .wind .info-wind {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather-box img {
    width: 90%;
}

.weather-box .temperature {
    position: relative;
    font-family: "Outfit", sans-serif;
    font-size: 64px;
    line-height: 0;
    font-weight: 700;
    margin: -30px 0 6px -30px;
}

.weather-box .temperature span {
    position: absolute;
    font-size: 30px;
    margin-left: 4px;
    margin-top: -20px;
}

.weather-box .description {
    font-family: "Outfit", sans-serif;
    line-height: 4;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    position:absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.weather-details .humidity,
.weather-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather-details .humidity .info-humidity,
.weather-details .wind .info-wind{
    transform: translateY(-100%);
    overflow: hidden;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details i {
    font-size: 56px;
    margin-right: 10px;
}

.weather-details span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather-details p {
    font-size: 14px;
    font-weight: 500;
}

.not-found {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.not-found img {
    width: 70%;

}

.not-found p {
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
}

.city-hide{
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind {
    position: relative;
    transform: translateY(-100%);
    overflow: hidden;
}

#clone-info-weather .weather {
    transform: translateY(100%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;
}

.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;
}

.active-clone#clone-info-weather .weather {
    transform: translateY(0%);
}

#clone-info-humidity span,
#clone-info-wind span {
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}



