*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #e5e9f0;
}
.image1{
    width: 100%;
    height: 100%;
    transition: 0.8s;
    object-fit: cover;
}
.product-container{
    width: 300px;
    height: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000000;
    border-radius: 10px;
    box-shadow:0 20px 25px rgba(0,0,0,0.5);
    overflow: hidden;
}
.txt{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family:"Roboto";
    padding: 18px 14px;
    font-size: 15px;
    background: linear-gradient(135deg, #2E3A59, #1C2536); 
    color: #ffffff;
    transition: 0.8s;
}

.product-container:hover .txt{
    bottom: -75%;

}
.product-container:hover .image1{
    transform: translateY(-25%);
}
