body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.pendulum-container {
    display: flex;
    align-items: center;
}

.pendulum {
    width: 20px; /* Larger pendulum (two times) */
    height: 400px; /* Larger pendulum (two times) */
    background-color: #222;
    position: relative;
    border-radius: 10px;
    transform-origin: top center;
    animation: swing 1s infinite alternate;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.7); /* Enhanced shadow */
}

.bell {
    width: 120px; /* Larger bell (two times) */
    height: 120px; /* Larger bell (two times) */
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.clapper {
    width: 16px; /* Wider clapper */
    height: 140px; /* Longer clapper */
    background-color: #444;
    border-radius: 10px;
    transform-origin: 50% 0;
    position: relative;
    animation: swing 1s infinite alternate;
}

.speed-slider-container {
    margin-top: 20px;
    text-align: center;
}

.speed-slider-container label {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.speed-slider-container input {
    width: 150px;
}

.speed-slider-container #speed-value {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
}
@keyframes swing {
    0%, 100% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(20deg);
    }
}
