/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.container {
    position: relative;
    background-image:url("images/bg.png");
    background-size:cover ;
    padding: 25px;
    border-radius: 28px;
    max-width: 380px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

header,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.logo img {
    width: 48px;
    margin-right: 10px;
}


h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
header .chip {
    width: 60px;
}

h6 {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}

h5.number {
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5.name {
    margin-top: 20px;
 
}

.container .card-details {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}