* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Sans-serif;
  word-spacing: -2px;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #191919;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-weight: normal;
  font-size: 20px;
  color: #888;
  padding: 5px 0;
}

.message, #toggle + label {
  position: absolute;
  cursor: pointer;
  transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

.message {
  background: #181818;
  color: #FFF;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  overflow: hidden;
}

.message h1 {
  color: #FFF;
}

#toggle {
  appearance: none;
  position: absolute;
  left: -100%;
  top: -100%;
}

#toggle + label {
  padding: 8px 10px;
  background: #26ae90;
  color: #FFF;
  font-size: 12px;
  text-align: center;
  border-radius: 3px;
  margin: 20px 50px;
  line-height: 20px;
}

#toggle + label:after {
  content: "Open";
}

.container {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding: 5em 3em;
}

#toggle:checked ~ .message {
  top: 0;
}

#toggle:checked ~ .container {
  margin-top: 250px;
}

#toggle:checked + label {
  background: #dd6149;
}

#toggle:checked + label:after {
  content: "Close";
}
