* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.2rem;
}


.tooltip-text {
  position: absolute;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}


.tooltip-container:hover .tooltip-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
