html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color:bisque;
}
  
#piano {
    background-color: #63369a;
    width: 992px;
    height: 290px;
    margin: 100px auto;
    padding: 90px 20px 0 20px;
    position: relative;
    border-radius: 10px;
}
  
.keys {
    background-color: #040404;
    width: 949px;
    height: 180px;
    padding-left: 2px;
    overflow: hidden;
}
  
.key {
    background-color: #ffffff;
    position: relative;
    width: 41px;
    height: 175px;
    margin: 2px;
    float: left;
    border-radius: 0 0 3px 3px;
}
  
.key.black-key::after {
    background-color: #1d1e22;
    content: "";
    position: absolute;
    left: -18px;
    width: 32px;
    height: 100px;
    border-radius: 0 0 3px 3px;
}
  
.head {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title {
    width: 400px;
    position: absolute;
    top: 23px;
    margin-top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
  
.logo {
    width: 30px;
}

@media (max-width: 768px) {
    #piano {
      width: 358px;
    }
  
    .keys {
      width: 318px;
    }
  
    .logo {
      width: 150px;
    }
}
  
@media (max-width: 1199px) and (min-width: 769px) {
      #piano {
        width: 675px;
      }
    .keys {
        width: 633px;
      }
}
