@font-face {
    font-family: head;
    src: url('IvarHeadline-SemiBold-core.ttf');
}
@font-face {
    font-family: nav-font;
    src: url('mem8YaGs126MiZpBA-UFVZ0bf8pkAg.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.page1{
    height: 280vh;
    width: 100%;
    background-color: white;
}
nav{
    height: 4.8vw;
    width: 100%;
    background-color: white;
    padding: 0vw 6.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav img{
    height: 3.8vh;
    width: 10vw;
}
.left{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.left a{
    text-decoration: none;
    color: black;
    letter-spacing: normal;
    font-weight: 300;
    font-family: nav-font;
    font-size: 0.95vw;
}
.left a:hover{
    color: #0076cb;
}
.right a:hover{
    color: #0076cb;
}
.right{
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
.right a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-family: nav-font;
    font-size: 0.95vw;
}
.bg{
    height: 24vw;
    width: 100%;
    background-image: url('main-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-info{
    height: 9vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: aquamarine; */
}
.bg-info h2{
    color: white;
    font-family: head;
    font-weight: 700;
    font-size: 2.15vw;
    text-shadow: 4px 4px 8px black;
}
.bg-info input{
    height: 4.5vw;
    width: 100%;
    border-radius: 3px;
    border: 1px solid transparent;
    font-family: nav-font;
    /* position: absolute; */
}
input::placeholder{
    padding-left: 1vw;
    font-size: 0.95vw;
    letter-spacing: normal;
}
.bg-info .searchbar{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.searchbar i{
    position: absolute;
    right: 0;
    padding-right: 1vw;
}
.rec{
    height: 46.5vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 5.5vw 13vw 3.5vw;
    display: flex;
}
.rec-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: beige; */
    margin-right: 2vw;
}
.rec-img{
    height: 100%;
    width: 70%;
    /* background-color: rgba(0, 0, 0, 0.598); */
}
.rec-img img{
    height: 100%;
    width: 100%;
}
.rec-text h3{
    font-weight: 700;
    font-family: nav-font;
    font-size: 1.1vw;
    padding-bottom: .4vw;
}
.rec-text h4{
    font-weight: 400;
    font-family: nav-font;
    color: rgba(89, 107, 130, 1);
    font-size: 0.95vw;
    padding-bottom: 0.9vw;
}
.rec-text a{
    text-decoration: none;
    color: #006AFF;
    font-family: nav-font;
    font-weight: 700;
    font-size: 0.95vw;
    border: 0.5px solid #006AFF;
    padding: 9px 16px;
    border-radius: 4px;
    transition: all ease-in 0.1s;
}
.rec-text a:hover{
    background-color: #E4F4FF;
    color: rgba(0, 0, 0, 0.6);
    border: 0.5px solid rgba(0, 0, 0, 0.5);
}
.cards{
    height: 73vh;
    width: 100%;
    /* background-color: aqua; */
    background-color: #F9F9FB;
    padding: 4vw 13.5vw 4vw;
}
.cards-item{
    height: 100%;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.card{
    height: 100%;
    width: 32%;
    /* background-color: black; */
    background-color: white;
    border-radius: 6px;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px 0px;
    /* box-shadow: rgb(209, 209, 213) 0px 5px 15px; */
    transition: all ease 0.2s;
}    
.card:hover{
    box-shadow: rgb(209, 209, 213) 0px 5px 15px;
    transform: scale(1.05);
}
.card:hover a{
    background-color: #006AFF;
    color: white;

}
.card img{
    height: 50%;
    width: 110%;
    padding-bottom: 0.5vw;
}
.card h2{
    font-weight: 700;
    font-family: head;
    line-height: 2vw;
    font-size: 1.41vw;
    padding-bottom: 1vw;
}
.card h3{
    color: rgba(42, 42, 51, 1);
    font-weight: 400;
    font-family: nav-font;
    font-size: 0.95vw;
    letter-spacing: normal;
    line-height: 1.41vw;
    text-align: center;
    padding-bottom: 2.2vw;
}
.card a{
    text-decoration: none;
    color: #006AFF;
    padding: 9px 16px;
    font-size: 0.95vw;
    font-family: nav-font;
    font-weight: 700;
    border: 0.5px solid #006AFF;
    border-radius: 4px;
    transition: all ease-in 0.2s;
}
.zillow{
    height: 25vw;
    width: 100%;
    /* background-color: aqua; */
}
.part1{
    height: 50%;
    width: 100%;
    padding: 2vw 15vw 0vw;
}
.part1 h2{
    font-family: nav-font;
    font-weight: 700;
    color: #2A2A33;
    font-size: 0.95vw;
    padding-bottom: 0.3vw;
}
.part1 h3{
    font-family: nav-font;
    font-weight: 300;
    color: #596B82;
    font-size: 0.95vw;
    line-height: 1.4vw;
    padding-bottom: 3vw;
}
.part1-link{
    height: 2vw;
    width: 100%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.part1-link .link{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid rgba(0, 0, 0, 0.15);
}
.link a{
    text-decoration: none;
    color: #2A2A33;
    font-family: nav-font;
    font-weight: 700;
    font-size: 0.95vw;
}
.link i{
    margin-left: 1.5vw;
}
.part1-link .link:nth-last-child(1){
    border-right: none;
}
.part2{
    height: 45%;
    width: 100%;
    /* background-color: beige; */
    padding: 0vw 12vw 0vw;
}
.part2-main{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 1.5vw;
}
.part2-links{
    height: 35%;
    width: 100%;
    /* background-color: white; */
    /* padding: 0vw 2.5vw 0vw 2.5vw; */
    text-align: center;
    padding-top: .3vw;
    /* border-top: 0.5px solid rgba(0, 0, 0, 0.3); */
}
.part2-links a{
    text-decoration: none;
    font-family: nav-font;
    font-weight: 300;
    font-size: 0.85vw;
    padding: 0.5vw;
    line-height: 28px;
}

.part22{
    /* padding-top: 1vw; */
    height: 20%;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;    
}
.part22 a{
    text-decoration: none;
    font-family: nav-font;
    font-weight: 300;
    font-size: 0.85vw;
    padding: 0.5vw;
}
.lastlink{
    height: 45%;
    width: 100%;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastlink a{
    text-decoration: none;
    font-family: nav-font;
    font-weight: 400;
    font-size: 0.85vw;
    color: #0D4599;
}
.part3{
    min-height: 50vh;
    width: 100%;
    /* background-color: aqua; */
    padding: 0vw 12vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1{
    height: fit-content;
    width: 62%;
    /* background-color: bisque; */
    text-align: center;
    margin-bottom: 1.5vw;
}
.text1 h6{
    font-weight: 400;
    font-family: nav-font;
    font-size: 0.65vw;
    color: #54545A; 
    line-height: 16px;
}
.text2{
    height: fit-content;
    width: 59%;
    /* background-color: blueviolet; */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vw;
}
.text2 h6{
    font-weight: 400;
    font-family: nav-font;
    font-size: 0.65vw;
    color: #54545A; 
    line-height: 16px;
}
.unique{
    font-family: nav-font;
    font-size: 0.95vw;
}
.text3{
    height: fit-content;
    width: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text3 h6{
    font-weight: 400;
    font-family: nav-font;
    font-size: 0.65vw;
    color: #54545A; 
    line-height: 16px;
    padding-bottom: 1.5vw;
}
.imp{
    height: fit-content;
    width: 70%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5vw;
}
.store{
    padding-bottom: 1.5vw;
}
.imp img{
    height: 3.8vh;
    width: 10vw;
}
.imp h6{
    font-style: italic;
    font-size: .8vw;
    font-weight: 400;
    font-family: nav-font;
}
.lastimg{
    height: fit-content;
    width: 100%;
}
.searchbar2{
    padding: 0vw 2vw 0vw;
    position: fixed;
    height: 4vw;
    width: 100%;
    background-color: white;
    /* display: flex; */
    /* align-items: center; */
    display: none;
    opacity: 0;
    z-index: 999;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}
.hmm{
    height: 2vw;
    width: 40%;
    /* display: flex; */
    position: relative;
    display: flex;
    align-items: center;
}
.searchbar2 input{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.searchbar2 input::placeholder{
    color: #2A2A33;
    font-weight: 400;
    font-size: 0.95vw;
    font-family: nav-font;
}
.hmm i{
    position: absolute;
    right: 3%;
}
