body
	{
		background: url(https://git.io/JUW4t);
		background-size: cover;
		overflow: hidden;
	}

#panda
	{
		position:relative;
		top: 300px;
		background: url(https://git.io/JUW4L); 
		width :250px;
		height: 330px;		
		animation: walking_animation 1s steps(12) infinite,move_forward 8s linear infinite;	
	}

@keyframes walking_animation
	{
		0%{background-position: 0px;}
		100%{background-position: 3000px;}
	}

@keyframes move_forward
	{
		0%{transform:translateX(-100px);}
		100%{transform:translateX(1366px);}
	}

#street
	{
		position:relative;
		top: 300px;
		border-bottom: 5px groove green;
	}

