@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000;
}

@keyframes glideIn {
    0% {
        opacity: 0;
        left: -100%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

body{
    font-family: "Poppins";
    line-height: 1.7em; 
}

.container{
    margin : 35px;
    height: 100%;

}
a{
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    padding: 0.7rem 2rem;
    margin : 2rem 1rem 2rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: rgb(243, 90, 202);
    box-shadow: 0px 8px 8px rgb(218, 28, 167);
    
    
}


.lead{
    font-size: 16px;
    padding: 10px 10px;
    text-align: center;
}

.bg-primary{
    width: 100%;
    border-bottom: 0.5px solid #ddd;
}

.bg-primary-1{
    background-color: #ddd;
    padding: 10px 22px;
    color: #333;
    text-align: center;
    display: inline-block;
}

.names{
    font-size: 20px;
}
/*Navbar*/
#navbar{
    background-color:#131122f2;
    overflow: auto;
}
#navbar h1{
    float: left;
    padding-top: 20px;
    padding-left: 50px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block; 
    text-align: center;
    padding: 20px;
    transition: all 0.5s;
}

#navbar ul li a:hover,
#navbar ui li a:current{
    background: #4397ea;
    transition: all 0.3;
}

/*showcase*/
#showcase{
    min-height: 500px;
}

.showcase-content{
    padding-top: 150px;
    color: aquamarine;
    text-align: center;
    padding-left: 30px;
}
.showcase-content h2{
    font-size: 52px;
    line-height: 1.9em;
    opacity: 0;
    position: relative;
    left: -100%;
    font-size: 3rem;
    color: #ffffff;
    animation: glideIn 2s ease forwards;
}

.showcase-content p{
    font-size: 25px;
    line-height: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    position: relative;
    left: -100%;
    font-size: 3rem;
    color: #ffffff;
    animation: glideIn 2s ease forwards;
}

.showcase-content a:hover{
    font-family: "Poppins";
    opacity: 0;
    position: relative;
    left: -100%;
    animation: glideIn 2s ease forwards;
    animation: glideIn 2s ease forwards;
    background:rgb(245, 77, 200);
    box-shadow: 0px 0px 15px rgb(218, 28, 167);
}

/*author*/
#authors{
    background: url(img/background.jpg) no-repeat
    center center/cover;
    min-height: 700px;
    padding-top: 40px;
    opacity: 0;
    position: relative;
    left: -100%;
    font-size: 1.3rem;
    color: #333;
    animation: glideIn 2s ease forwards;
}

.auth{
    float: left;
    height: 500px;
    width: 33%;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin: 20 01;
}

.auth img{
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
}

/*contact*/

.contact{
    background: #ebebeb;
    min-height: 100vh;
}

.text-center{
    text-align: center;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
}

.form-input{
    width: 100%;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
    margin: 14px 0;
    padding: 5px 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*popup*/

.popup{
    width: 400px;
    background: #f0e207;;
    border-radius: 6px;
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%)scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    margin-top: -300px;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}

.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%)scale(1);
    left: 50%;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    color: white;
    border: 0;
    background-color: #6fd649;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 840px) {
    #showcase{
        min-height: 350px;
    }
    .showcase-content{
       padding: 120px;
    }
    .showcase-content h2{
        font-size: 40px;
        line-height: 1em;
    }
    
    .showcase-content p{
        font-size: 20px;
        line-height: 1.5em;
      
    }
    
    
}
@media screen and (max-width: 590px) {
    #showcase{
        min-height: 100px;
    }
    .showcase-content{
        padding: 80px;
     }
     .showcase-content h2{
        font-size: 25px;
        line-height: 1em;
    }
    
    .showcase-content p{
        font-size: 14px;
        line-height: 1.5em;
      
    }
    .btn{
      
        padding: 3px 10px;
      
        font-size: 12px;
       
    }
    
}

@media screen and (max-width: 440px) {
    #showcase{
        min-height:50px;
        width: 100%;
    }
    .showcase-content{
        padding: 56px;
     }
     .showcase-content h2{
        font-size: 20px;
        line-height: 1em;
    }
    
    .showcase-content p{
        font-size: 10px;
        line-height: 1em;
      
    }
    .btn{
      
        padding: 2px 8px;
      
        font-size: 10px;
       
    }
    
}
.header{
    background: #000;
}
.navbar{
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%);
    margin:0.8rem;
    padding: 0.5rem 1.3rem;
    background-color: rgba(2, 2, 2);
    width: 88vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
}


.navlink{
    font-size: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: rgb(0, 17, 255) 1px 0 10px;
    transition-duration: 0.3s;
}

.navlink:hover{
    color: rgb(249, 24, 69);
}
.showcase-content{
    overflow: hidden; 
    border-right: .15em solid black; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
  }
  .icon1, .icon2,.icon3,.icon4,.icon5,.icon6,.icon7,.icon8,.icon9{
    height:80px; 
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    overflow: hidden;
    background-color: rgb(0,0,0,0.2);
    border: 0.1px solid gray;
    box-shadow:  7px 7px 20px  rgba(28, 19, 29, 0.9), -7px 7px 20px  rgba(15, 12, 15, 0.9),7px -7px 20px  rgba(64, 52, 66, 1),-7px -7px 20px  rgba(45, 7, 51, 0.9);
    margin: 20px;
}
.item1,.item2, .item3, .item4, .item5, .item6{
    height: 80%px;
    width: 80%;
}

.right-content, .left-content{
    display: flex;
}
.showcase{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon1{
    position: absolute;
    left:340px;
    top:190px;
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.4s infinite alternate;
}

.icon2{
    position: absolute;
    left:90px;
    top:310px; 
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.6s infinite alternate;
}
.icon3{
    position: absolute;
    left:365px;
    top:440px; 
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.6s infinite alternate;
}
.icon4{
    position: absolute;
    left:1020px;
    top:164px; 
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.5s infinite alternate;
    
}
.icon5{
    position: absolute;
    left:1285px;
    top:311px; 
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.5s infinite alternate;
}
.icon6{
    position: absolute;
    left:1065px;
    top:385px;
    animation: mover cubic-bezier(0, 0.33, 0.58, 1) 1.5s infinite alternate; 
}

@keyframes mover {
    to { transform: translateY(-40px); }
}

