*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(214, 43, 89);
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 5rem;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #555;
    margin: 20px auto 5px;
  }

  .circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    margin: 20px auto 5px;
  }

  .rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
    margin: 20px auto 5px;
  }

  .parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #555;
    margin: 20px auto 5px;
}

.triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
    margin: 20px auto 5px;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid #555;
    margin: 20px auto 5px;
}

.arrow {
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(214, 43, 89);
    padding: 10px;
    text-align: center;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }