@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

*,
*::after,
*::before {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #600b28;
}

.profile-card {
	width: 300px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}

.profile-image {
	position: relative;
	top: -60px;
	border-radius: 1rem;
	background-image: url(https://media.licdn.com/dms/image/v2/D5603AQGwb2f1ONSERg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1725645542177?e=1733356800&v=beta&t=XYdQMpjBTvDOp8SQs-FWnMkguXuV0OU4psWkOEtXv94);
	width: 11rem;
	height: 11rem;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.profile-info {
	text-align: center;
	margin-top: -3rem;
	margin-bottom: 1rem;
}

.profile-info > .profile-name {
	color: #212121;
}

.profile-info > .profile-desc {
	color: #666666;
	font-size: 0.9rem;
}

.status {
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
	line-height: 1rem;
	margin-bottom: 1.3rem;
}

.status-value {
	color: #212121;
	font-weight: 700;
}

.status-text {
	font-size: 0.8rem;
	color: #7c7c7d;
}

.action {
	display: flex;
	justify-content: space-between;
}

.btn {
	border: none;
	padding: 0.8em 1.9em;
	border-radius: 0.35rem;
	cursor: pointer;
	font-weight: 600;
}

.btn-pink {
	background: #b82151;
	color: white;
}

.btn-gray-outline {
	border: 1px solid;
	background: transparent;
	color: #b82151;
}
