p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
   
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(240, 240, 240);
}

@media (min-width: 1200px){
  body{
    padding-left: 171px;
  }
}
.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
  z-index: 100;
}

.left-section {
  align-items: center;
  display: flex;
}

.hamburger-menu {
  height: 24px;
  margin: 0 20px 0 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 34px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-button {
  height: 38px;
  width: 50px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-button, .voice-search-button, .upload-icon-container, 
.youtube-app-icon-container, .notifications-icon-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip, .voice-search-button .tooltip, 
.upload-icon-container .tooltip, .youtube-app-icon-container .tooltip,
.notifications-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip, .youtube-app-icon-container:hover 
.tooltip, .notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon {
  height: 24px;
}

.voice-search-button {
  height: 38px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(240, 240, 240);
}

.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-app-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
}

.current-user-picture{
  height: 28px;
  border-radius: 16px;
  width: 26px;
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    width: 75px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}


@media (min-width: 1200px) {
    .sidebar{
        width: 150px;
    }
  }

.sidebar-link{
    padding-top: 10px;    
    padding-bottom: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

@media (min-width: 1201px){
   .sidebar-link {
        height: auto;
        padding: 10px 0;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center; 
        margin-left: 0; 
        margin-right: 0; 
        padding-left: 20px;
        gap: 20px; 
    }
}
.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link img{
    height: 24px;   
    margin-bottom: 0px; 
    margin-top: 2rem;
}

.sidebar-link div{
    font-size: 12px;
    margin-top: 2rem; 
}

.thumbnail {
  width: 100%;
}

.video-link{
  color: black;
}
.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
  .video-author, .video-stats{
    font-size: 14px;
  }
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}