body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    margin: 0;
}

.solar-system {
    position: relative;
}

.sun {
    width: 200px;
    height: 200px;
    background-color: #fcb34d;
    border-radius: 50%;
    position: relative;
    animation: rotate-sun 20s linear infinite;
}

.earth-orbit {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0; 
    animation: rotate-earth 20s linear infinite;
}

.earth {
    width: 60px;
    height: 60px;
    background-color: #4a90e2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -30px;
    transform-origin: 0 0;
    animation: rotate-earth 15s linear infinite;
}

.moon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translate(-50%, -50%);
    animation: rotate-moon 2s linear infinite;
}

@keyframes rotate-sun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-earth-orbit {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-earth {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-moon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
