* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;
    overflow:hidden;
}

h1{
    font-size: 5vh;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

input#slide1:checked ~ .slides {
    transform: translateX(0);
}

input#slide2:checked ~ .slides {
    transform: translateX(-100%);
}

input#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

.navigation {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

input#slide1:checked ~ .navigation label[for="slide1"],
input#slide2:checked ~ .navigation label[for="slide2"],
input#slide3:checked ~ .navigation label[for="slide3"] {
    background-color: #717171;
}
