* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #111;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.line {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    color: white;
    font-size: 50px;
    overflow: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.space {
    width: 8px;
}


span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    animation: comeup 1.2s ease-in forwards, glow 1.5s ease-in-out infinite;
    animation-fill-mode: forwards;
    animation-delay: calc(0.1s * var(--n)); 
}


@keyframes comeup {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #a8f312;
    }
    50% {
        text-shadow: 0 0 5px #0c68f1, 0 0 10px #14d890, 0 0 15px #c0ff01;
    }
}