* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #2c3e50 0%, #34495e 50%, #3d566e 100%);
}

.scene {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Sky */
.sky {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #1a1a2e 0%, #2d3561 60%, #4a5f7f 100%);
}

/* Clouds */
.cloud {
  position: absolute;
  background: linear-gradient(to bottom, #3a3a4a 0%, #2a2a3a 100%);
  border-radius: 100px;
  opacity: 0.8;
  animation: cloudMove 20s linear infinite;
}

.cloud::before,
.cloud::after {
  content: '';
  position: absolute;
  background: linear-gradient(to bottom, #3a3a4a 0%, #2a2a3a 100%);
  border-radius: 100px;
}

.cloud1 {
  width: 200px;
  height: 80px;
  top: 10%;
  left: 10%;
  animation-duration: 25s;
}

.cloud1::before {
  width: 100px;
  height: 80px;
  top: -40px;
  left: 40px;
}

.cloud1::after {
  width: 120px;
  height: 70px;
  top: -30px;
  left: 90px;
}

.cloud2 {
  width: 180px;
  height: 70px;
  top: 15%;
  right: 20%;
  animation-duration: 30s;
  animation-delay: -5s;
}

.cloud2::before {
  width: 90px;
  height: 70px;
  top: -35px;
  left: 35px;
}

.cloud2::after {
  width: 100px;
  height: 60px;
  top: -25px;
  left: 80px;
}

.cloud3 {
  width: 220px;
  height: 90px;
  top: 8%;
  left: 40%;
  animation-duration: 28s;
  animation-delay: -10s;
}

.cloud3::before {
  width: 110px;
  height: 90px;
  top: -45px;
  left: 45px;
}

.cloud3::after {
  width: 130px;
  height: 80px;
  top: -35px;
  left: 100px;
}

.cloud4 {
  width: 160px;
  height: 65px;
  top: 20%;
  left: 70%;
  animation-duration: 22s;
  animation-delay: -15s;
}

.cloud4::before {
  width: 80px;
  height: 65px;
  top: -32px;
  left: 30px;
}

.cloud4::after {
  width: 90px;
  height: 55px;
  top: -22px;
  left: 70px;
}

@keyframes cloudMove {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

/* Lightning */
.lightning {
  position: absolute;
  width: 4px;
  height: 150px;
  background: linear-gradient(
    to bottom,
    #fff 0%,
    #ffff00 50%,
    transparent 100%
  );
  top: 18%;
  left: 50%;
  opacity: 0;
  box-shadow: 0 0 20px #fff, 0 0 40px #ffff00;
  animation: lightningFlash 8s infinite;
  transform: rotate(15deg);
}

.lightning::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 80px;
  background: linear-gradient(to bottom, #ffff00 0%, transparent 100%);
  top: 80px;
  left: 20px;
  box-shadow: 0 0 15px #fff;
}

.lightning::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 60px;
  background: linear-gradient(to bottom, #ffff00 0%, transparent 100%);
  top: 100px;
  left: -15px;
  box-shadow: 0 0 15px #fff;
}

@keyframes lightningFlash {
  0%,
  100% {
    opacity: 0;
  }

  10%,
  10.2% {
    opacity: 1;
  }

  10.4%,
  10.6% {
    opacity: 0;
  }

  10.8%,
  11% {
    opacity: 1;
  }

  11.2%,
  100% {
    opacity: 0;
  }
}

/* Rain */
.rain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.drop {
  position: absolute;
  width: 2px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(174, 194, 224, 0.6) 20%,
    rgba(174, 194, 224, 0.8) 100%
  );
  border-radius: 50%;
  animation: rainFall linear infinite;
}

/* Randomize rain drops */
.drop:nth-child(1) {
  left: 5%;
  animation-duration: 1s;
  animation-delay: 0s;
}

.drop:nth-child(2) {
  left: 12%;
  animation-duration: 0.9s;
  animation-delay: 0.2s;
}

.drop:nth-child(3) {
  left: 18%;
  animation-duration: 1.1s;
  animation-delay: 0.4s;
}

.drop:nth-child(4) {
  left: 25%;
  animation-duration: 0.95s;
  animation-delay: 0.1s;
}

.drop:nth-child(5) {
  left: 32%;
  animation-duration: 1.05s;
  animation-delay: 0.3s;
}

.drop:nth-child(6) {
  left: 38%;
  animation-duration: 0.85s;
  animation-delay: 0.5s;
}

.drop:nth-child(7) {
  left: 45%;
  animation-duration: 1.15s;
  animation-delay: 0.15s;
}

.drop:nth-child(8) {
  left: 52%;
  animation-duration: 0.92s;
  animation-delay: 0.35s;
}

.drop:nth-child(9) {
  left: 58%;
  animation-duration: 1.08s;
  animation-delay: 0.25s;
}

.drop:nth-child(10) {
  left: 65%;
  animation-duration: 0.98s;
  animation-delay: 0.45s;
}

.drop:nth-child(11) {
  left: 72%;
  animation-duration: 1.02s;
  animation-delay: 0.05s;
}

.drop:nth-child(12) {
  left: 78%;
  animation-duration: 0.88s;
  animation-delay: 0.55s;
}

.drop:nth-child(13) {
  left: 85%;
  animation-duration: 1.12s;
  animation-delay: 0.12s;
}

.drop:nth-child(14) {
  left: 92%;
  animation-duration: 0.96s;
  animation-delay: 0.32s;
}

.drop:nth-child(15) {
  left: 8%;
  animation-duration: 1.06s;
  animation-delay: 0.22s;
}

.drop:nth-child(16) {
  left: 15%;
  animation-duration: 0.91s;
  animation-delay: 0.42s;
}

.drop:nth-child(17) {
  left: 22%;
  animation-duration: 1.09s;
  animation-delay: 0.08s;
}

.drop:nth-child(18) {
  left: 29%;
  animation-duration: 0.94s;
  animation-delay: 0.28s;
}

.drop:nth-child(19) {
  left: 36%;
  animation-duration: 1.04s;
  animation-delay: 0.48s;
}

.drop:nth-child(20) {
  left: 42%;
  animation-duration: 0.87s;
  animation-delay: 0.18s;
}

.drop:nth-child(21) {
  left: 49%;
  animation-duration: 1.13s;
  animation-delay: 0.38s;
}

.drop:nth-child(22) {
  left: 56%;
  animation-duration: 0.99s;
  animation-delay: 0.09s;
}

.drop:nth-child(23) {
  left: 62%;
  animation-duration: 1.01s;
  animation-delay: 0.29s;
}

.drop:nth-child(24) {
  left: 69%;
  animation-duration: 0.93s;
  animation-delay: 0.49s;
}

.drop:nth-child(25) {
  left: 76%;
  animation-duration: 1.07s;
  animation-delay: 0.19s;
}

.drop:nth-child(26) {
  left: 82%;
  animation-duration: 0.89s;
  animation-delay: 0.39s;
}

.drop:nth-child(27) {
  left: 88%;
  animation-duration: 1.11s;
  animation-delay: 0.11s;
}

.drop:nth-child(28) {
  left: 95%;
  animation-duration: 0.97s;
  animation-delay: 0.31s;
}

.drop:nth-child(29) {
  left: 10%;
  animation-duration: 1.03s;
  animation-delay: 0.21s;
}

.drop:nth-child(30) {
  left: 50%;
  animation-duration: 0.86s;
  animation-delay: 0.51s;
}

@keyframes rainFall {
  0% {
    top: -10%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    top: 100%;
    opacity: 0;
  }
}

/* Ground */
.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(to bottom, #2c3e50 0%, #1a252f 100%);
  border-top: 3px solid #34495e;
}

/* Puddles */
.puddle {
  position: absolute;
  bottom: 5%;
  height: 8px;
  background: radial-gradient(
    ellipse at center,
    rgba(174, 194, 224, 0.4) 0%,
    rgba(100, 130, 160, 0.2) 60%,
    transparent 100%
  );
  border-radius: 50%;
  animation: puddleRipple 2s ease-in-out infinite;
}

.puddle1 {
  width: 100px;
  left: 20%;
  animation-delay: 0s;
}

.puddle2 {
  width: 120px;
  left: 50%;
  animation-delay: 0.5s;
}

.puddle3 {
  width: 90px;
  left: 75%;
  animation-delay: 1s;
}

@keyframes puddleRipple {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

